    <div class="row">
      <div class="large-8 columns">
        <h4>About</h4>
        <p>I write code, therefore I am. My name is Kevin VanderWulp and I write code. 
          It is a hobby I picked up while working on my favorite hobby: Learning. 
          It is my personal philosophy to always push myself to learn new things. 
          This translated into learning how to code because I have spent most of my youth learning about all things computer related. 
          Ever since my Dad taught me how to use MS-DOS, my fascination with computers hasn't dimished. 
          I have been building my own computers since then and using them as a tool satisfy my drive to learn more about the world.
          I have learned several different computer languages such as Java, PHP, Python, JavaScript, C#, and C++.
          I made this page to showcase some of my projects and to tell a little about myself.
        </p>
        <a href="http://www.twitter.com/kvwulp"><i class="fi-social-twitter"></i></a>
        <a href="http://www.facebook.com/kevin.vanderwulp"><i class="fi-social-facebook"></i></a>
        <a href="http://www.linkedin.com/in/kvanderwulp"><i class="fi-social-linkedin"></i></a>
        <a href="http://github.com/ruckbeard"><i class="fi-social-github"></i></a>
      </div>
      <div class="large-4 columns">
        <img id="profile" src="/img/me.jpg">
      </div>
    </div>
    
    