{% extends 'main.twig' %}

{% block content %}
  {% include 'about_text.twig' %}
  <div class="row">
    <div class="large-8 columns">
      <h4>My Technical Profile:</h4>
      <div class="row">
        <div class="large-6 columns">
          <ul>
            <li>Java, C#, PHP, Python, C++</li>
            <li>Object-Oriented programming</li>
            <li>Unit Testing</li>
            <li>NetBeans IDE, VisualStudio</li>
            <li>Git version control</li>
          </ul>
        </div>
        <div class="large-6 columns">
          <ul>
            <li>HTML, CSS, JavaScript, jQuery</li>
            <li>SpringMVC, SpringJDBC</li>
            <li>MySQL, SQL Query Writing</li>
            <li>Agile Principles - User stories & Sprints</li>
            <li>Linux, Linux command line</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="large-8 columns">
        <h4>The Software Guild</h4>
        <p>
            Being an apprentice at The Software Guild has been an interesting and
            a fun experience. I have been self-learning programming for quite some
            time, so switching to the bootcamp experience has been a trip. I'm no
            longer able to work at my own pace, but I've developed enough discipline
            to be able to keep up and exceed the blistering pace of the program.
            I have done several stretch goals and side projects during this time
            because I have been training myself and using that discipline to write
            code for 8 to 16 hours a day. I have never once used Java before coming
            to The Software Guild, but I would say now that I know more about Java
            than anything else I've learned.
            
            <h5>What I've learned at The Software Guild:</h5>
            <ul>
                <li>Java Language Fundamentals - variable declaration, looping constructs,
                conditional statements, class modeling, exception handling, unit testing, and n-tier application structure</li>
                <li>Web Development Fundamentals - Spring MVC, HTML, CSS, JavaScript, jQuery</li>
                <li>Database Fundamentals - MySQL, SQL Query Writing, Table Creation, Spring JDBC, Hibernate</li>
                <li>Project Management Fundamentals - Wire-framing, User Stories, work estimation, and iterative development</li>
            </ul>
            
            <h5>What I've done at The Software Guild:</h5>
            <ul>
                <li>Collaberated on several group projects using Agile methodologies.</li>
                <li>Put in around 500+ hours of pure software development time.</li>
                <li>Helped fellow guild members with their projects, understand the material, and learn new material</li>
            </ul>
        </p>
      </div>
  </div>
{% endblock content %}