{% extends 'main.twig' %}

{% block content %}
    <div class="row">
        <img id="logo" src="img\bubbleromp.png">
    </div>

        <div class="row">
        <hr>
        <div class="large-7 columns">
          <div class="flex-video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/csGCcK61uZE" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="large-5 columns">
          <h4>Interstellar Bubble Romp</h4>
          <p>This is a game I was working on that I made with GameMaker. It is a match 3 style game that involves space bubbles, comets, and asteroids. The bubbles can be matched up in many different ways. You might even make the bubbles grow if matched in the right way. The basic game engine is finished, I just never got around to level creation and design.</p>

          <div class="panel">
          <a href="ibr/index.html" class="small button">Play!</a>
          </div>

        </div>
        </div>

    <div class="row">
        <div class="large-12 columns">
            <hr>
            <ul class="example-orbit" data-orbit>
                <li class="active">
                    <img src="img/bubbleromp_ss1.png" alt="slide 1" />
                </li>
                <li>
                    <img src="img/bubbleromp_ss2.png" alt="slide 2" />
                </li>
                <li>
                    <img src="img/bubbleromp_ss3.png" alt="slide 3" />
                </li>
                <li>
                    <img src="img/bubbleromp_ss4.png" alt="slide 3" />
                </li>
                <li>
                    <img src="img/bubbleromp_ss5.png" alt="slide 3" />
                </li>
            </ul>
        </div>
    </div>
{% endblock content %}